@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  padding: 18px 24px;
  margin-top: 120px;
}

.title {
  color: var(--color-dark);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.skills {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill:hover {
  text-shadow: rgba(0, 0, 0, 0.75);
}

.skillImageContainer {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  filter: drop-shadow(2px 0px 5px #000000);
}

.skillImageContainer img {
  width: 70px;
  transition: 0.4s ease-in-out;
}

.skillImageContainer img:hover {
  transform: scale(1.05);
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  color: var(--color-dark);
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }

  .skillImageContainer img {
    width: 60px;
    transition: 0.4s ease-in-out;
  }
  .skill p {
    font-size: 22px;
    padding-top: 5px;
  }
}

@media (max-width: 600px) {
  .skillImageContainer img {
    width: 50px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  .skillImageContainer img {
    width: 40px;
    transition: 0.4s ease-in-out;
  }

  .skillImageContainer {
    width: 100px;
    height: 100px;
    filter: drop-shadow(2px 0px 5px #000000);
  }

  .skill p {
    font-size: 22px;
    padding-top: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
  }
  .skillImageContainer {
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
  }
  .skills {
    display: flex;
    justify-content: space-between;
  }
  .skill {
    display: flex;
    align-items: center;
  }

  .skill p {
    font-size: 18px;
    padding-top: 10px;
  }

  .skillImageContainer img {
    width: 40px;
  }
  .title {
    margin-bottom: 30px;
  }
}
