@import "../../vars.css";

.certifications-container {
  /* border: 1px solid var(--secondary-background); */
  box-sizing: border-box;
  background: linear-gradient(45deg, #118ab24d 0%, #19688362 50%, #118ab24d 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  padding: 40px 24px;
  margin-top: 120px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.certification-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.certification-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 10%;
}

.hline {
  width: 30vw;
  height: 1px;
  background-color: var(--secondary-background);
  margin-bottom: 20px;
}

.title {
  color: var(--color-dark);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.certification-title {
  font-weight: normal;
  color: #fff;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 400;
}

.certification-organisation {
  opacity: 0.7;
  font-weight: lighter;
  font-size: 16px;
  color: #fff;
}

.link {
  text-decoration: none;
  text-transform: u;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  background-color: var(--color-primary-btn);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  transition: 0.4s ease-in-out;
  margin: 10px 0 8px;
  font-weight: normal;
  padding: 7px 14px;
}

.link:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 8px 0 #04152d20;
}

@media (max-width: 768px) {
  .hline {
    width: 70vw;
  }
}
