@import "./vars.css";
* {
  box-sizing: border-box;
}
.App {
  min-width: 400px;

  max-width: 100vw;
  background-color: var(--color-bg);
  overflow: hidden;
}

.skills-and-certifications {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

@media (max-width: 768px) {
  .skills-and-certifications {
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
