@import "./vars.css";
* {
  box-sizing: border-box;
}
.App {
  min-width: 400px;
  background-color: var(--color-bg);
  overflow: hidden;
}

.skills-and-certifications {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}
